<h1>Learners</h1>
	<% @learn.each do |x| %>
	<h2><%= x.name %></h2>
<table class="table" id="learn">
<tr>
	<th>Users</th>
	<th>Online?</th>
</tr>	
<% x.users.all.each do |y| %>
<tr>
	<td>
		<%= y.id %> <%= y.first_name%> <%= y.last_name%>
	</td>
	<td>
		<%= y.online? %>
	</td>
</tr>
<% end %>
</table>
<% end %>

<h1>Teachers</h1>
	<% @teach.each do |x| %>
	<h2><%= x.name %></h2>
<table class="table" id="teach">
<tr>
	<th>Users</th>
		<th>Online?</th>
</tr>	
<% x.users.all.each do |y| %>
<tr>
	<td>
		<%= y.id %> <%= y.first_name%> <%= y.last_name%>
	</td>
		<td>
		<%= y.online? %>
	</td>
</tr>
<% end %>
</table>
<% end %>
