<div class="container">
	<%= form_for @user, url: preference_path(current_user.id)  do |form| %>
		<h3 class="brand-heading">Almost there</h3>
		<div class="signup-choice">
			<p>Please complete the following information so we can match you with people worldwide</p>
			<p class="signup-choice--heading">What is your native language</p>
			<ul class="signup-choice--list">
				<% @languages.each do |x| %>
					<li>
						<%= x.name %> 
						<%= radio_button("user", "teach_languages", x.name) %>
					</li>
				<!-- end for do each -->
				<% end %>	
			</ul>
		</div>
		<div class="signup-choice">
			<p class="signup-choice--heading">What languages are you learning?</p>
			<p>We still don't know what language you want to learn. Check one of the following languages that you want to learn.</p>
			<ul class="signup-choice--list">
				<% @languages.each do |x| %>
					<li>
						<%= x.name %> 
							<%= radio_button("user", "learn_languages", x.name) %>
					</li>
				<% end %>	
			</ul>
		</div>
		<div class="signup-choice">
			<p class="signup-choice--heading">Please select some of the following interests</p>
			<p>Tick the following interest so that we can pair you up with people of similar interest!</p>
			<ul class="signup-choice--list">
				<% @interests.each do |x| %>
					<li>
						<%= x.name %> 
							<%= radio_button("user", "interests", x.name) %>
					</li>
				<% end %>	
			</ul>
		</div>
		<div class="row">
			<div class="col-md-3">
				<%= form.submit :class => "input-full-width full-width-input-primary" %>
			</div>
		</div>
	<% end %>
</div>