<%= form_for @user, url: user_path  do |f| %>        
  <p>
		<%= f.file_field :avatars, multiple: true %>
	</p>
	 	<p>
  	<% unless @user.avatars[0].nil? %>
	  	<%= image_tag (@user.avatars[0].url) , :align=> "middle",  class:"img-circle", :size => "260x180" %>
	  <% end %>
	</p>
	<%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'input-full-width' %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'input-full-width' %>

  <%= f.label :email %>
  <%= f.text_field :email, class: 'input-full-width' %>

  <%= f.label :age %>
  <%= f.text_field :age, class: 'input-full-width' %>

  <%= radio_button("user", "gender", "Male") %>
  <%= label_tag(:gender, "Male") %>
  <%= radio_button("user", "gender", "Female") %>
  <%= label_tag(:gender, "Female") %>

  <%= f.submit class: 'input-full-width full-width-input-primary' %>

<% end %>