<h1>Editing User</h1>

<%= form_for @user do |form| %>

 <div class="text-field">
    <%= form.text_field :first_name, type: 'first_name', placeholder: "First name", :class => "input-full-width" %>
  </div>
  <div class="text-field">
    <%= form.text_field :last_name, type: 'last_name',placeholder: "Last name", :class => "input-full-width" %>
  </div>
  <div class="text-field">
    <%= form.text_field :email, type: 'email',placeholder: "Email", :class => "input-full-width" %>
  </div>
  <div class="password-field">
    <%= form.password_field :password,placeholder: "Password", :class => "input-full-width" %>
  </div>


 	<p>
		<%= form.file_field :avatars, multiple: true %>
	</p>

 	<p>
  	<% unless @user.avatars[0].nil? %>
	  	<%= image_tag (@user.avatars[0].url) , :align=> "middle",  class:"img-circle", :size => "260x180" %>
	  <% end %>
	</p>

  <div class="submit-field">
    <%= form.submit :class => "input-full-width full-width-input-primary"%>
  </div>

<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', user_path(@user.id) %>