<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
      
    </div>

    <buttton class="btn btn-facebook"><b <i class="fa fa-facebook"></i> <%= link_to "| Signup with Facebook", '/auth/facebook' %> </b>

    </buttton>




  <% end %>
</div>