<% if signed_in? %>
  <div class="container padding-top--sm">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <ul class="nav nav-stacked">
          <li class="active"><a href="#edit-profile" data-toggle="tab">Edit Profile</a></li>
          <li><a href="#conversations" data-toggle="tab">Conversation history</a></li>
          <li><a href="#languages-and-interests" data-toggle="tab">Languages and interests</a></li>
          <li><a href="#coins" data-toggle="tab">Coins</a></li>
        </ul>
      </div>

      <div class="col-md-8">
          <div class="tab-content" style= "min-height: 500px">

            <div class="tab-pane active" id="edit-profile">
              <div class="panel-header">
                <h3>Profile</h3>
              </div>
              <div class="panel-main">
                <%= render template: 'users/edit' %>
              </div>
            </div>
            <div class="tab-pane" id="conversations">
              <div class="panel-header">
                <h3>Conversation history</h3>
              </div>
              <div class="panel-main">
               <strong><p>Chat you hosted before: </p></strong>
                 <ol>
                   <% @chats_host.each do |x| %>
                     <% a = User.find(x.guest_id) %>
                    <li><%= x.time_start%>, <%= a.first_name %> joined.  <span class="badge"><%= x.amount %></span> earned.</li>
                     <%= %>
                   <% end %>
                 </ol>
                <strong><p>Chat you joined before:</p></strong>
                   <ol>
                   <% @chats_join.each do |x| %>
                     <% a = User.find(x.guest_id) %>
                    <li><%= x.time_start%>, <%= a.first_name %> joined.  <span class="badge"><%= x.amount %></span> paid.</li>
                     <%= %>
                   <% end %>
                 </ol>
              </div>
            </div>
            <div class="tab-pane" id="languages-and-interests">
              <div class="panel-header">
                <h3>Languages and interests</h3>
              </div>
              <div class="panel-main">
                <p>
                  <strong>My Interests</strong>
                  <% @user_interests.each do |x| %>
                  <p><%= x.name%></p>
                  <% end %>
                </p>
                <p>
                  <strong>I Speak</strong>
                  <% @user_teach_languages.each do |x| %>
                  <p><%= x.name%></p>
                  <% end %>
                </p>
                <p>
                  <strong>I am learning</strong>
                  <% @user_learn_languages.each do |x| %>
                  <p><%= x.name%></p>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="tab-pane" id="coins">
              <div class="panel-header">
                <h3>Coins</h3>
              </div>
              <div class="panel-main">
                <p>Coins are used when you join a chat as a student. You can earn coins by hosting calls to help out the community, or you can buy coins and start chatting in the language you are learning.</p>
                <p>Top up your coins by picking from the options below</p>
                <%= link_to 'Buy 100 Coins Now' , new_payment_path(current_user.id), class: "btn btn-warning"  %>
                <p class="padding-top--sm">You currently have <span><%= @user.total_coins %></span> coins remaining</p>     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<% else %>
  <% redirect_to root_url %>
  
<% end %>