<% if signed_in? %>
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <ul class="nav nav-stacked">
          <li class="active"><a href="#edit-profile" data-toggle="tab">Edit Profile</a></li>
          <li><a href="#profile-image" data-toggle="tab">Photos</a></li>
          <li><a href="#conversations" data-toggle="tab">Conversation history</a></li>
          <li><a href="#languages-and-interests" data-toggle="tab">Languages</a></li>
          <li><a href="#coins" data-toggle="tab">Coins</a></li>
        </ul>
      </div>

      <div class="col-md-8">
        <div class="panel-header">
          <h3>Profile</h3>
        </div>
        <div class="tab-content panel-main">
          <div class="tab-pane active" id="edit-profile">
            <%= form_for(@user) do |f| %>
              
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: 'input-full-width' %>

              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'input-full-width' %>

              <%= f.label :email %>
              <%= f.text_field :email, class: 'input-full-width' %>

              <%= f.label :age %>
              <%= f.text_field :age, class: 'input-full-width' %>

              <%= radio_button("user", "gender", "Male") %>
              <%= label_tag(:gender, "Male") %>
              <%= radio_button("user", "gender", "Female") %>
              <%= label_tag(:gender, "Female") %>
            <% end %>
          </div>
          <div class="tab-pane" id="languages-and-interests">
            <p>
              <strong>My Interests:</strong>
              <% @user_interests.each do |x| %>
              <li><%= x.name%></li>
              <% end %>
            </p>

            <p>
              <strong>I Speak:</strong>
              <% @user_teach_languages.each do |x| %>
              <li><%= x.name%></li>
              <% end %>
            </p>
          </div>
          <div class="tab-pane" id="coins">
            <ul class="list-group">
              <li class="list-group-item">
                <strong>Purchase Options</strong>
                  <% if @chat.payments.where(status: :authorized).count == 0%>
                    <%= link_to 'Buy 100 Coins Now' , new_payment_path + "?id=" + @chat.id.to_s, class: "btn btn-warning"  %>
                  <% else %>
                    <span class="btn btn-success">PAID</span>
                  <% end %>
              </li>
            </ul>
          <strong>Total Coins Purchased:</strong>
          <%= @user.total_coins %>
          </div>
        </div>
      </div>
    </div>
      







      

    

    <%= link_to 'Edit', edit_user_path(@user) %> |
  <% else %>
    <% redirect_to root_url %>
  <% end %>
  <%= link_to 'Back', root_path %>
  
  </div>