<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if signed_in? %>

	<% if @teach_languages.count == 0 %>
		<div id="empty-preference">

		<%= render partial: "users/preference" %>
				
		</div>
	<% else %>
	 <!-- end for if language to teach is nil -->

<div class="done">
<div id="language-teach">
			<h1>You're good at speaking:</h1>
			<ol>
				<% @teach_languages.each do |x| %>
					<li><%= x.name%></li>
				<% end %>
			</ol>
		</div>
		<div id="language-learn">
			<h1>You want to learn:</h1>
			<ol>
				<% @learn_languages.each do |x| %>
					<li><%= x.name%></li>
				<% end %>
			</ol>
		</div>
		<div id="user-interest">
			<h1>Your interest are:</h1>
			<ol>
				<% @user_interest.each do |x| %>
					<li><%= x.name%></li>
				<% end %>
			</ol>
		</div>
</div>
	<% end %>



<div id="host-a-chat">
	<h1>If you're ready, click here to start a chat!</h1>
	<%= link_to 'Chat!', host_path%>
</div>

<div id="potential-match">
	<h2>Online users that match your language needs:</h2>
		<% unless @users.nil? %>
			<ul>	
				<% @users.each do |x| %>
				<li><%= x.email%></li>
				<% end %>		
			</ul>
			<% end %>
</div>
	
<% else %>
  <div class="jumbotron">
    <div class="container">
      <h2 class="text-center">Welcome to your Language Exchange.</h2>
      <p class="text-center"><a href="#" class="btn" data-toggle="modal" data-target="#signin-modal">Get started</a></p>
    </div>
  </div>
  <div class="container">
	  <div class="row">
	  	<h2 class="text-center about-head">How does it work?</h2>
	  	<div class="col-md-4">
	  		<h3 class="text-center">Tell us about yourself</h3>
				<p class="text-center">Just tell us your first language and the languages you are learning</p>
	  	</div>
	  	<div class="col-md-4">
	  		<h3 class="text-center about-head">Match with another and learn</h3>
	  		<p class="text-center">We'll match you with someone who is fluent in the language you are learning so that you can practice</p>
	  	</div>
	  	<div class="col-md-4">
	  		<h3 class="text-center about-head">Help others learn and earn coins</h3>
	  		<p class="text-center">You can use our service free of charge if you help others learn your first language or you can purchase coins and concentrate on learning only</p>
	  	</div>
		</div>
	</div>
<% end %>
