<% if signed_in? %>

	<% if @teach_languages.count == 0 %>

		<%= render partial: "users/preference" %>
				
	<% else %>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			  <%= form_tag("/room/#{current_user.first_name}", method: "post") do %>
			  <div class="large-btn bg-secondary">
			  	<h1 class="text-center">Host a chat!</h1>
					<p class="text-center">When hosting a chat you will earn coins to spend at a later date. When hosting, please speak in your native language</p>
					<%= hidden_field_tag(:host, current_user.id) %>
				  <%= submit_tag("Host", :class => "large-btn-cover") %>
			  <% end %>
				</div>
			</div>
		</div>

		<div id="potential-match">
			<div class="row">
				<% unless @users.nil? %>
					<% @users.each do |x| %>
						<div class="col-md-6">
							<div class="large-btn bg-primary">
								<div class="row">
									<div class="col-md-3">
										<% if x.avatars[0].nil? %>
											<div class="profile-img-placeholder--small">
				      				</div>
				      			<% else %>
											<%= image_tag x.avatars[0].url, :size => "90x90", :class => "profile-img" %>
										<% end %>
									</div>
									<div class="col-md-9">
										<p class="large-btn--join">Speak with <%= x.first_name %></p>
										<p class="large-btn--join">Age <%= x.age %></p>
										<%= form_tag("/room/#{x.first_name}", method: "get") do %>
											<%= hidden_field_tag(:guest, current_user.id) %>
											<%= hidden_field_tag(:start, Time.now) %>
							  			<%= submit_tag("Join", :class => "large-btn-cover") %>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					<% end %>		
				<% end %>
				<div class="col-md-6">
					<div class="large-btn bg-primary">
						<div class="row">
							<div class="col-md-3">
									<%= image_tag("profile-2", :class => "profile-img") %> 
							</div>
							<div class="col-md-9">
								<p class="large-btn--join">Speak with Luke</p>
								<p class="large-btn--join">Age 28</p>
								<div class="large-btn-cover">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="large-btn bg-primary">
						<div class="row">
							<div class="col-md-3">
									<%= image_tag("profile-4", :class => "profile-img") %> 
							</div>
							<div class="col-md-9">
								<p class="large-btn--join">Speak with Susan</p>
								<p class="large-btn--join">Age 36</p>
								<div class="large-btn-cover">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="large-btn bg-primary">
						<div class="row">
							<div class="col-md-3">
								<%= image_tag("profile-3", :class => "profile-img") %> 
							</div>
							<div class="col-md-9">
								<p class="large-btn--join">Speak with Tom</p>
								<p class="large-btn--join">Age 38</p>
								<div class="large-btn-cover">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% end %>

	
	
<% else %>
  
  <div class="jumbotron">
    <div class="container">
    	<div class="row">
    		<div class="col-md-6">
		      <h2 class="text-left">Learning a language is easier when you speak with locals</h2>
		      <p class="text-left"><a href="#" class="btn" data-toggle="modal" data-target="#signin-modal">Connect with locals now</a></p>
	      </div>
      </div>
    </div>
  </div>
  <div class="hero">
  	<div class="container">
  		<div class="row">
	  		<div class="col-md-8 col-md-offset-2">
	  			<div class="about-section">
		  			<h2 class="text-center about-head">What is speak easy?</h2>
		  			<p>In order to learn a foreign language you need to practice speaking it. Classes are necessary, whether they are at college or online, but to really test your knowledge of a language you need to put it into practice. Using the speak easy web application, you can connect with like minded people around the world and learn from the people who speak it best, locals.</p>
		  			<p>We work with a coins system which encourages people to give back to the easy speak community. When you host a chat with and speak in your native language, you will earn coins. These coins can then be used to speak with other native speakers and further your learning. It's simple, you get back what you put in. We are also giving you 500 free coins when you sign up.</p>
		  		</div>
	  		</div>
	  	</div>
  	</div>
  </div>
  <div class="container">
	  <div class="row">
	  	<div class="about-section">
		  	<h2 class="text-center about-head">How does it work?</h2>
		  	<div class="col-md-4">
		  		<div class="about-icon">
		  			<%= image_tag("user")%>
		  		</div>
		  		<h3 class="text-center">Tell us about yourself</h3>
					<p class="text-center">Just tell us your first language and the languages you are learning</p>
		  	</div>
		  	<div class="col-md-4">
		  		<div class="about-icon">
		  			<%= image_tag("technology")%>
		  		</div>
		  		<h3 class="text-center about-head">Match with another and learn</h3>
		  		<p class="text-center">We'll match you with someone who is fluent in the language you are learning so that you can practice</p>
		  	</div>
		  	<div class="col-md-4">
		  		<div class="about-icon text-center">
		  			<%= image_tag("present")%>
		  		</div>
		  		<h3 class="text-center about-head">Help others learn and earn coins</h3>
		  		<p class="text-center">You can use our service free of charge if you help others learn your first language or you can purchase coins and concentrate on learning only</p>
		  	</div>
		  </div>
		</div>
	</div>
<% end %>
