<% if signed_in? %>

	<% if @teach_languages.count == 0 %>

		<%= render partial: "users/preference" %>
				
	<% else %>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			  <%= form_tag("/room/#{current_user.first_name}", method: "post") do %>
			  <div class="large-btn">
			  	<h1 class="text-center">Host a chat!</h1>
					<p class="text-center">When hosting a chat you will earn coins to spend at a later date. When hosting, please speak in your native language</p>
					<%= hidden_field_tag(:host, current_user.id) %>
				  <%= submit_tag("Host", :class => "large-btn-cover") %>
			  <% end %>
				</div>
			</div>
		</div>

		<div id="potential-match">
			<h2>Online users that match your language needs:</h2>
				<% unless @users.nil? %>
					<ul>	
						<% @users.each do |x| %>
						<li><%= x.email%></li>
						<%= form_tag("/room/#{x.first_name}", method: "get") do %>
						<%= hidden_field_tag(:guest, current_user.id) %>
						<%= hidden_field_tag(:start, Time.now) %>
		  			<%= submit_tag("Join") %>
							<% end %>
						<% end %>		
					</ul>
					<% end %>
		</div>
	</div>

	<% end %>

	
	
<% else %>
  
  <div class="jumbotron">
    <div class="container">
      <h2 class="text-center">Welcome to your Language Exchange.</h2>
      <p class="text-center"><a href="#" class="btn" data-toggle="modal" data-target="#signin-modal">Get started</a></p>
    </div>
  </div>
  <div class="container">
	  <div class="row">
	  	<h2 class="text-center about-head">How does it work?</h2>
	  	<div class="col-md-4">
	  		<div class="about-icon">
	  			<%= image_tag("user")%>
	  		</div>
	  		<h3 class="text-center">Tell us about yourself</h3>
				<p class="text-center">Just tell us your first language and the languages you are learning</p>
	  	</div>
	  	<div class="col-md-4">
	  		<div class="about-icon">
	  			<%= image_tag("technology")%>
	  		</div>
	  		<h3 class="text-center about-head">Match with another and learn</h3>
	  		<p class="text-center">We'll match you with someone who is fluent in the language you are learning so that you can practice</p>
	  	</div>
	  	<div class="col-md-4">
	  		<div class="about-icon text-center">
	  			<%= image_tag("present")%>
	  		</div>
	  		<h3 class="text-center about-head">Help others learn and earn coins</h3>
	  		<p class="text-center">You can use our service free of charge if you help others learn your first language or you can purchase coins and concentrate on learning only</p>
	  	</div>
		</div>
	</div>
<% end %>
