<header class="nav-wrapper">
  <nav>
    <div class="container nav-top">
      <a class="navbar-brand" href="">Language</a>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li class="nav--item">
            <%= link_to 'Profile', user_path(current_user.id), :class => "nav-link" %>
          </li>
          <li class="nav--item">
            <%= link_to 'Sign out', sign_out_path, method: :delete, :class => "nav-link" %>
          </li>
        <% else %>    
          <li class="nav--item">
            <a href="#" data-toggle="modal" data-target="#signin-modal">Sign In</a>
          </li>
          <li class="nav--item">
            <a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up</a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>

<div id="signin-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div id="clearance" class="sign-in">

          <%= render partial: '/sessions/form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="signup-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div id="clearance" class="sign-up">
          <%= link_to "Signup with Facebook", '/auth/facebook', :class => "like-btn like-btn--fb" %>
          <div class="signin-separator">
            <span class="signin-separator--text">or</span>
            <hr>
          </div>
          <%= form_for User.new do |form| %>
          <%= render partial: '/users/form', object: form %>
          <% end %>
      </div>
    </div>
  </div>
</div>