<!DOCTYPE html>
<html>
  <head>
    <title>speak easy</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= Gon::Base.render_data %>

  </head>

  <body>
    <%= render partial: '/layouts/navigation' %>
    <div class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
            <% if key = notice %>
              <div class="alert alert-success" role="alert"><div class="flash <%= key %>"><%= value %></div></div>
            <% elsif key = alert %>
              <div class="alert alert-danger" role="alert"><div class="flash <%= key %>"><%= value %></div></div>
            <%end %>
        <% end %>
      </div>
    </div>
    <%= yield %>

  <% if request.original_url.match(/room/).nil? %>
  
    <footer>
      <div class="container">
        <div class="col-sm-12">
          <div class="col-md-6 col-sm-6">
            <div class="contact-info">
              <h2 class="footer-title">Contact Info</h2>
              <div class="single">
                <i class="fa fa-map-marker"></i>
                <p>Jalan Kiara 5,<br> 
              Mont Kiara, KL 50480, Malaysia</p>
              </div>
              <div class="single">
                <i class="fa fa-phone"></i>
                <p>017 323 2389</p>
              </div>
              <div class="single">
                <i class="fa fa-envelope"></i>
                <p>info@speakeasy.com</p>
              </div>
            </div>
          </div>
      <div class="col-md-6 col-sm-6 left-border">
      <div class="navigation">
      <ul class="list-unstyled">
        <li><a href="http://centerend.com/" title="">About Us</a></li>
        <li><a href="http://centerend.com/" title="">Terms & Conditions</a></li>
        <li><a href="http://centerend.com/" title="">Privacy Policy</a></li>
        <li><a href="http://centerend.com/" title="">Career</a></li>
        <li><a href="http://centerend.com/" title="">Contact Us</a></li>
      </ul>
      </div>
      </div>
      <div class="clearfix"></div>
      <div class="copyright visible-sm visible-xs">
      <p>Copyrights &copy; 2016 <a href="http://nextbootstrap.com/" title="">speak easy</a></p>
      </div>
      </div>
      </div>
      </div>
      </footer>
      <% else %>
  <% end %> 


  </body>
</html>
