<!DOCTYPE html>
<html>
  <head>
    <title>speak easy</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= Gon::Base.render_data %>

  </head>

  <body>

    <%= render partial: '/layouts/navigation' %>
    <div class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="alert alert-success" role="alert">
            <div class="flash <%= key %>"><%= value %></div>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>


  </body>
</html>
